*{
    margin: 0;
}
.recipes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D0E7D2; /* Background color */
    padding-bottom: 2rem;
}
.recipe-form{
    text-align: center; /* Center align text and elements within .loginpage */
    padding: 10px;
    border: 1px solid #ccc; /* Add a border for styling */
    border-radius: 5px; /* Add rounded corners */
    background-color:#EBF3E8; /* Background color for the login box */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
.recipe-title{
    font-size: 20px; /* Set a larger font size for the title */
    font-weight: bold; /* Make the title bold */
    margin-bottom: 20px; /* Add spacing below the title */
    color: #618264;
    padding-top: 1rem;
    font-family: 'Lilita One', sans-serif;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px; /* Add spacing between input fields */
    margin-right: 10px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc; /* Add a border to input fields */
    border-radius: 5px; /* Add rounded corners to input fields */
  }
  button{
  
    background-color: #618264; /* Button background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding around the button text */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Add a smooth hover effect for the background color */
  }
  .image-file{
    margin-left: 5rem;
    margin-right: 6rem;
  }
  .ingredients{
    margin-bottom: 1rem;
  }
  .label-title{
    font-family: 'Roboto Slab', serif;
  }